@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {box-sizing: border-box; }

body {
    font-family: 'Poppins', sans-serif;}

a { color: #333;
    text-decoration: none;
}

a:hover {
       color: peru;
       border-bottom: 1px solid peru;}

.btn { 
    background: #0779e4;
    color: #fff;
    border:none;
    font-size: 15px;
    padding: 10 px 20px;
    cursor: pointer;
    border-radius: 5px;}

.btn:hover {
    background: #074d8f ;}

.btn.btn-todo-mal { 
    background: red;
}